@model IEnumerable<AJsCleaning.Models.Team>
@{
    ViewData["Title"] = "Meet The Team";
}
<link rel="stylesheet" href="~/css/team.css" type="text/css" />

<h1>@ViewData["Title"]</h1>
<div class="row">

<!---CREATE NEW LINK------------------------------------------------------------------------------------------->
    @if (User.IsInRole("Administrator"))
    {
        <p class="text-end">
            <a asp-action="Create">Create New</a>
        </p>
    }
<!------------------------------------------------------------------------------------------------------>
    @foreach (var team in Model)
    {
        <div class="column">
            <div class="card">
                <img src="@team.PhotoPath" alt="@team.Name" style="width:100%">
                <div class="container">
                    <h2>@team.Name</h2>
                    <p class="title">@team.Title</p>
                    <p class="bio">@team.Description</p>
                    <p>
                        @if (User.IsInRole("Administrator"))
                        {
                            <div class="text-center">
                                <a asp-controller="Teams" asp-action="Edit" asp-route-id="@team.Id">Edit</a> |
                                <a asp-controller="Teams" asp-action="Delete" asp-route-id="@team.Id">Delete</a>
                            </div>
                        }
                    </p>
                </div>
            </div>
        </div>
    }
</div>