@model IEnumerable<AJsCleaning.Models.Services>

@{
    ViewData["Title"] = "Services";
}
<style>
    html {
        background-image: url('/images/succulents_3.png');
        background-size: cover;
        background-position: center bottom;
        background-repeat: no-repeat;
        background-attachment: fixed;
        width:100%;
 
    }
</style>
<div class=" " style="height:90vh;" >
    <h1 class=" ">Services</h1>


    <table class="table ">
        <tbody>
            @foreach (var typeGroup in Model.GroupBy(item => item.Type))
            {
                <tr class="type-row" >
                    <th colspan="2" class="toggle-service">@Html.DisplayFor(modelItem => typeGroup.Key)</th>
                    <th class="text-end toggle-service pe-4">
                        <i class="fa-solid fa-caret-down"></i>
                    </th>
                </tr>

                @foreach (var serviceGroup in typeGroup.GroupBy(item => item.Service))
                {
                    <tr class="service-row">
                        <th class="toggle-description" colspan="2">
                            @Html.DisplayFor(modelItem => serviceGroup.First().Service)

                        </th>
                        <th class="toggle-description pe-5 text-end" colspan="1">
                            <i class="fa-solid fa-caret-down"></i>
                        </th>
                        
                    </tr>
                    
                        <tr class="description-row py-5 bg-pnk">
                            <td colspan="3" >
                                <span class="description" data-description="@Html.DisplayFor(modelItem => serviceGroup.First().Description)"></span>
                            @if (User.IsInRole("Administrator"))
                            {
                                <div class="text-center">
                                    <a asp-controller="Services" asp-action="Edit" asp-route-id="@serviceGroup.First().Id" class="btn th-btn-pink">Edit</a>|
                                    <a asp-controller="Services" asp-action="Delete" asp-route-id="@serviceGroup.First().Id" class="delete-btn">Delete</a>
                                </div>
                            }
                        </td>
                        </tr>
                    
                }
            }
        </tbody>
    </table>
    @if (User.IsInRole("Administrator"))
    {
        <p class="text-end">
            <a asp-action="Create" class="create-btn">Create New</a>
        </p>
    }
</div>