@model IEnumerable<AJsCleaning.Models.Services>

@{
    ViewData["Title"] = "Services";
}

<h1>Services</h1>

<p class="text-end">
    <a asp-action="Create" >Create New</a>
</p>
<!--
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Service)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Service)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
-->
<table class="table">
    <tbody>
        @foreach (var typeGroup in Model.GroupBy(item => item.Type))
        {
            
            <tr class="type-row rounded mb-2">
                <th colspan="3">@Html.DisplayFor(modelItem => typeGroup.Key)</th>
            </tr>
            

            @foreach (var serviceGroup in typeGroup.GroupBy(item => item.Service))
            {
                <tr class="service-row">
                    <td>@Html.DisplayFor(modelItem => serviceGroup.First().Service)</td>
                    <td>@Html.DisplayFor(modelItem => serviceGroup.First().Description)</td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@serviceGroup.First().Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@serviceGroup.First().Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@serviceGroup.First().Id">Delete</a>
                    </td>
                </tr>

                @foreach (var item in serviceGroup.Skip(1))
                {
                    <tr class="service-row">
                        <td>@Html.DisplayFor(modelItem => item.Service)</td>
                        <td>@Html.DisplayFor(modelItem => item.Description)</td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        </td>
                    </tr>
                }
            }
            
        }
    </tbody>
</table>
